bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.CSharpLearnPathConsole/.idea/indexLayout.xml
/.idea/.idea.CSharpLearnPathConsole/.idea/vcs.xml
/CSharpLearnPathConsole.sln.DotSettings.user
